body {
  margin: 0;
  padding: 0;
  background-color: #333;
}
.map-container {
  position: relative;
  margin: auto;
  width: 90vw;
  height: 80vh;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
