body {
  margin: 0;
  padding: 0;
  background-color: #333;
}
nav {
  height: 50px;
}
a {
  text-decoration: none;
}
.vicon {
  padding: 10px;
  margin-left: 40px;
  font-size: 22px;
}
.map-container {
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
